}

.sidebar:hover {
  width: 140px;
}

.sidebar button {
  font-size: 10px;
  padding: 6px;
}

.info-box {
  width: 95%;
  padding: 8px;
}

.nav-button {
  width: 70px;
  height: 70px;
}

.voltar, .ir {
  font-size: 1.2rem;
}

p {
  font-size: 0.9rem;
}
}


/* -------- Card CSS -------- */
.c-card {
display: flex;
gap: 20px;
}

.card {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0px 0 20px 0;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  border-radius: 10px; 
}

.card img {
  border-radius: 10px 0 0 10px;
  width: 210px;
}

.inf-card {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 15px;
  display: flex;
  justify-content: flex-start; 
  align-items: flex-start;     
  flex-direction: column;
  width: 350px;
  height: 200px;
  border-radius: 0px 10px 10px 0;
  background-color: var(--card-bg);
  text-align: left; 
}

.inf-card h2 {
  font-size: 26px;
  margin: 0;
  font-weight: 1000;
  color:var(--font-white);
}

.inf-card h2:hover {
  color: var(--font-c-h);
  cursor: pointer;
}

.inf-card h3 {
  font-weight: 600;
  font-size: 16px;
  margin-top: 5px;
  color: var(--font-card);
}

.inf-card p {
  font-weight: 400;
  font-size: 16px;
}

.inf-card a {
  font-weight: 100;
  font-size: 18px;
  margin-top: -3px;
  margin-bottom: 15px;
}

.inf-card a:hover {
    color: var(--font-c-h);
  cursor: pointer;
}

.inf-s-c {
  height: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 5px;
  margin-bottom: 20px;
  gap: 5px;
}

.bolinha {
  width: 10px;
  height: 10px;
  background-color: rgb(0, 255, 0);
  border-radius: 50%; 
}

.bolinha-d {
  width: 10px;
  height: 10px;
  background-color: rgb(255, 0, 0);
  border-radius: 50%; 
}

/* -------- fim Card CSS -------- */
